DB_NAME=
DB_USER=
DB_PASSWORD=
# DB_HOST=
DB_HOST=
JWT_SECRET=
PORT=5002


LDAP_SERVER=
LDAP_PORT=
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=
LDAP_BASE_DN=
# TTL in days for per-login sync (default 30)
LDAP_USER_SYNC_TTL_DAYS=

FRONTEND_URL=
REDIRECT_URI=http://localhost:3002/auth/redirect

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_STORAGE_CONTAINER=test-images
AZURE_BLOB_URL=

# SMTP
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=false   # MUST be false for port 587 (STARTTLS)
NODE_ENV=production # or development
IOU_FROM_EMAIL="example@something.com"

# Session Secret
SESSION_SECRET=
